.left > img {
  height: 40px;
}

.header {
  display: flex;
  padding: 15px 20px;
  justify-content: space-between;
  position: sticky;
  background-color: white;
  z-index: 100;
  top: 0;
  box-shadow: 0px 5px 8px -9px rgba(0, 0, 0.75);
}

.left {
  display: flex;
  justify-content: space-evenly;
}
.input {
  display: flex;
  align-self: center;
  background-color: #eff2f5;
  padding: 10px;
  margin-left: 10px;
  border-radius: 999px;
}

.input > input {
  border: none;
  background-color: transparent;
  outline-width: 0;
}

.middle {
  display: flex;
  flex: 1;
  justify-content: center;
}

.options > .MuiSvgIcon-root {
  color: gray;
}
.options:hover > .MuiSvgIcon-root {
  color: #2e81f4;
}

.options {
  display: flex;
  align-items: center;
  padding: 0 30px;
  cursor: pointer;
}

.options:hover {
  background-color: #eff2f5;
  border-radius: 10px;
  align-items: center;
  padding: 0 30px;
  border-bottom: none;
}

.info {
  display: flex;
  align-items: center;
}

.info > h4 {
  margin-left: 10px;
}

.right {
  display: flex;
}

.option--active > .MuiSvgIcon-root {
  color: #2e81f4;
}

.option--active {
  border-bottom: 4px solid #2e81f4;
}
